@import "_variables.scss";

.search-group {
  margin: 1rem 0;
  padding: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.card-group {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.card {
  box-shadow: 1px -2px 2px rgba(0, 0, 0, 0.4);
  transition: 0.3s;

  &:hover {
    background-color: $Serenity;
    transform: translateY(-5px);
  }
}
